import logging
logger=logging.getlogger('Read mail')
logger.setlevel(logging.DEBUG)
filehandler=logging.FileHandler('txtfile.log')
formatter=logging.Formatter('%(asctime)s:%(levelname)s:%(name)s:%(message)s',datefmt='%d-%m-%Y %I:%M:%S %p')
filehanhler.setFormatter(formatter)
logger.addHandler(filehandler)
logger.debug('Debug Message')
logger.info('Info Message')
logger.warning('Warning Message')
logger.error('Error Message')
logger.critical('Critical Message')
